body {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 100px;
}
.fa-solid{
    color: #F26C4F !important;
    font-size: 30px !important;
}
.mc-b{
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1); 
}
h3, i.fa-brands {
    vertical-align: middle !important;
}
.fa-brands{
    font-size: 30px !important;
}
